/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343a5000;
  --card-background-color: #897b8900;
  --countdown-background-color: #433765;
  --main-text-color:#dcf1f0;
  --title-text-color:#f989f5;
}

body{
/*  background-color:var(--main-background-color);*/
  background: url("img/bg.png");
  background-size: cover;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



